APP_NAME=aibotchat
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_AUTO_CREATE_TABLES=true

DATABASE_URL=

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=aibotchat
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

LOG_LEVEL=INFO
